//Colors
$violet: #3B3180;
$dark-violet: #312474;
$beige: #FDF7F3;
$white: #FFF;
$black: #353535;
$brown: #C0A19B;
$pink: #EA8FE1;

@import url('./assets/fonts/fonts.scss');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  outline-offset: 0px;
  
  &::selection {
    background-color: $pink;
    color: $white;
  }
}

body {
  font-family: 'PF Bague Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  background-color: $beige;
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  font-weight: 900;
  font-size: 7.2em;
  line-height: 100%;
  letter-spacing: -0.025em;
  color: $white;
  
  @media (max-width: 768px) {
    & {
      font-size: 4.8em;
    }
  }
}

h2 {
  font-weight: 900;
  font-size: 4.8em;
  line-height: 100%;
  letter-spacing: -0.025em;
  color: $black;
  
  @media (max-width: 768px) {
    & {
      font-size: 3.2em;
    }
  }
}

h3 {
  font-weight: 700;
  font-size: 3.6em;
  line-height: 100%;
  letter-spacing: -0.025em;
  color: $black
}

h4 {
  font-weight: 700;
  font-size: 2em;
  line-height: 100%;
  letter-spacing: -0.025em;
  color: $black
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 24px;
  
  @media (max-width: 1210px) {
    & {
      max-width: 1170px;
    }
  }
  
  @media (max-width: 1175px) {
    & {
      max-width: 1024px;
    }
  }
  
  @media (max-width: 1030px) {
    & {
      max-width: 922px;
    }
  }
  
  @media (max-width: 922px) {
    & {
      max-width: 768px;
    }
  }
  
  @media (max-width: 922px) {
    & {
      max-width: none;
    }
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 14px;
  background-color: $white;
  text-align: center;
  font-size: 1.6em;
  font-weight: 700;
  color: $black;
  text-decoration: none;
  border: 1px solid $white;
  transition: .15s ease;
  
  &:hover, &:focus, &:active, &:link {
    background-color: $dark-violet;
    color: $white;
    border-color: rgba($white, .3);
  }
  
  &--back {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 4px;
    align-items: center;
    padding: 0;
    background-color: transparent;
    border-radius: 0px;
    border: 0px;
    justify-content: flex-start;
    text-align: left;
    
    & span {
      font-size: 18px;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -0.025em;
      color: #7C7C7C;
      transition: .15s ease;
    }
    
    &:hover, &:focus, &:active, &:link {
      background-color: transparent;
      & span {
        color: $black;
      }
      border-color: rgba($white, .3);
    }
  }
  
  &--pink {
    background-color: $pink;
    color: $black;
    
    &:hover {
      background-color: #D665CA;
      color: $black;
    }
  }
}

.pink {
  color: $pink;
}

